<header class="d-flex flex-wrap justify-content-center border-bottom">
    <a href="{{ homeURL }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" alt="Blog" title="Blog">
        <img src="/assets/img/logo.png" alt="Blog" width="193" height="80" class="d-inline-block align-text-top">
        <span class="fs-4">Brand Name</span>
    </a>
</header>