<nav class="bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{{ homeURL }}" class="nav-link link-body-emphasis px-2 active" aria-current="page">Overview</a></li>
            <li class="nav-item"><a href="/new_article" class="nav-link link-body-emphasis px-2">New Article</a></li>
            <li class="nav-item"><a href="/imprint" class="nav-link link-body-emphasis px-2">Imprint</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
            <li class="nav-item"><a href="/register" class="nav-link link-body-emphasis px-2">Register</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis px-2">Logout</a></li>
        </ul>
    </div>
</nav>